<!-- Este es el HTML "padre" que muestra el código base y llama a los componentes necesarios -->
<div class="container container_form">
  <div class="row container_signup">
    <div class="col signup mt-5">
      <h1>Alta cliente</h1>
        <div class="form-group input_info">
          <label for="">Nombre:</label>
          <!-- Cada input tiene su ngModel con su nombre propio, para almacenar la información que recibe desde estos hacia el TS -->
          <input class="form-control" type="text" [(ngModel)]="name">
        </div>
        <div class="form-group input_info">
          <label for="">CIF:</label>
          <input class="form-control" type="text" [(ngModel)]="cif">
        </div>
        <div class="form-group input_info">
          <label for="">Dirección:</label>
          <input class="form-control" type="text" [(ngModel)]="address">
        </div>
        <div class="form-group input_info">
          <label for="">Grupo:</label>
          <select class="form-control" [(ngModel)]="group">
            <option value="none">Sin definir</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
          </select>
        </div>
        <!-- El botón llama a una función del TS para almacenar la información en el objeto de usuarios -->
        <button (click)="newUser()" type="submit" class="btn btn-primary mt-3">Guardar</button>
    </div>
  </div>
  <!-- Un div que se muestra, sólo, si hay información en los usuarios -->
  <div *ngIf= showElement>
    <!-- Lllamamos al componente hijo "table-users" desde data_users y le pasamos la información que almacenamos en users -->
    <app-table-users [data_users]="users"></app-table-users>
  </div>
</div>